Source: racket
Section: lisp
Priority: optional
Maintainer: David Bremner <bremner@debian.org>
Uploaders: James McCoy <jamessan@debian.org>
Standards-Version: 3.9.3
Build-Depends: autotools-dev, cdbs, debhelper (>= 7.0.0), patchutils, libffi-dev,
 libfreetype6-dev, libjpeg-dev, libpango1.0-dev, libpng-dev, libssl-dev,
 libxaw7-dev, xbitmaps, libxft-dev, libgl1-mesa-dev | libgl-dev,
 libglu1-mesa-dev | libglu-dev, libx11-dev, libxrender-dev, libcairo2-dev,
 sqlite3
Vcs-Git: git://anonscm.debian.org/collab-maint/racket.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/racket.git
Homepage: http://www.racket-lang.org/

Package: racket
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, racket-common (= ${source:Version})
Recommends: racket-doc (>= ${source:Upstream-Version})
Breaks: plt-scheme (<<5.0~)
Replaces: plt-scheme (<<5.0~)
Provides: plt-scheme
Description: extensible programming language in the Scheme family
 Racket (previously PLT Scheme) is a programming language suitable for
 scripting and application development, including GUIs and web
 services.
 .
 It supports the creation of new programming languages through a rich,
 expressive syntax system. Supplied languages include Typed Racket,
 ACL2, FrTime, and Lazy Racket, and R6RS Scheme.
 .
 Racket includes the DrRacket programming environment, a virtual
 machine with a just-in-time compiler, tools for creating stand-alone
 executables, the Racket web server, extensive libraries, and
 documentation for both beginners and experts.

Package: racket-common
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: racket (>= ${source:Upstream-Version}), racket-doc (>= ${source:Upstream-Version})
Breaks: plt-scheme (<<5.0~), racket-doc (<<6.1~)
Replaces: plt-scheme (<<5.0~), racket-doc (<<6.1~)
Description: extensible programming language in the Scheme family (shared files)
 This package includes the architecture independent files for Racket
 (but not the documentation, see racket-doc for that).

Package: racket-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: racket (>= ${source:Upstream-Version})
Enhances: racket
Breaks: plt-scheme-doc (<<5.0~)
Replaces: plt-scheme-doc (<<5.0~)
Provides: plt-scheme-doc
Description: extensible programming language in the Scheme family (documentation)
 This package includes all of the documentation for Racket.

Package: plt-scheme
Section: oldlibs
Priority: extra
Architecture: all
Depends: racket, ${misc:Depends}
Description: Racket Programming Environment (transitional package)
 Racket (previously PLT Scheme) is an innovative programming language
 that builds on a rich academic and practical tradition.
 .
 This is a dummy package to aid in transitioning from the plt-scheme package
 to the racket package.

Package: plt-scheme-doc
Section: oldlibs
Priority: extra
Architecture: all
Depends: racket-doc, ${misc:Depends}
Description: PLT Scheme Documentation (transitional package)
 This package includes all of the documentation for PLT Scheme.
 .
 This is a dummy package to aid in transitioning from the plt-scheme-doc
 package to the racket-doc package.
