#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

PLTDIR := /usr/lib/plt

DEB_CONFIGURE_EXTRA_FLAGS := --enable-shared
ifeq (m68k,$(shell dpkg-architecture -qDEB_BUILD_ARCH_CPU))
	DEB_CONFIGURE_EXTRA_FLAGS += --disable-foreign
endif

# At the moment 3m only builds on amd64 and i386
ifneq (amd64,$(shell dpkg-architecture -qDEB_BUILD_ARCH_CPU))
  ifneq (i386,$(shell dpkg-architecture -qDEB_BUILD_ARCH_CPU))
	DEB_CONFIGURE_EXTRA_FLAGS += --enable-cgcdefault
  endif
endif



DEB_CONFIGURE_SCRIPT := $(CURDIR)/src/configure
# Optimizations cause build failures on powerpc/alpha, so we'll override the
# standard optimizations and have it hold "-fPIC" instead
DEB_OPT_FLAG := -fPIC

DEB_BUILDDIR := $(DEB_SRCDIR)/build
DEB_DESTDIR := $(CURDIR)/debian/drscheme

DEB_INSTALL_CHANGELOGS_drscheme := --no-act
DEB_INSTALL_DOCS_drscheme := --no-act
DEB_SHLIBDEPS_EXCLUDE_drscheme := debian/drscheme/plot

install/mzscheme::
	dh_movefiles --sourcedir=debian/drscheme -pmzscheme

cleanbuilddir/drscheme::
	rm -rf build
	rm -rf include # This got created at build-time
